server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/amitkumarmangal/config-repo
          default-label: main
logging:
  level:
    org.springframework.cloud: DEBUG #TRACE for detailed logs
management:
  endpoints:
    web:
      exposure:
        include: prometheus, metrics, info, health, shutdown, beans, env, configprops, gateway